Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2023-05, with the labels that each got.

#165 Add schema customization
  .release/provider-schema.json
  GNUmakefile
  helpers/changelog/changelog.go
  helpers/changelog/parse.go
  helpers/providerjson/helpers.go
  helpers/providerjson/json.go
  helpers/providerjson/read.go
  helpers/providerjson/transform.go
  helpers/providerjson/write.go
  helpers/schema-api/main.go
  vkcs/db/data_source_vkcs_db_config_group.go
  vkcs/db/data_source_vkcs_db_datastore.go
  vkcs/db/data_source_vkcs_db_datastore_capabilities.go
  vkcs/db/data_source_vkcs_db_datastore_parameters.go
  vkcs/db/data_source_vkcs_db_datastores.go
  vkcs/db/data_source_vkcs_db_instance.go
  vkcs/db/resource_vkcs_db_backup.go
  vkcs/db/resource_vkcs_db_cluster.go
  vkcs/db/resource_vkcs_db_cluster_with_shards.go
  vkcs/db/resource_vkcs_db_config_group.go
  vkcs/db/resource_vkcs_db_instance.go
  vkcs/firewall/resource_vkcs_networking_secgroup_rule.go
  vkcs/internal/generate/providerschema/main.go
  vkcs/lb/resource_vkcs_lb_loadbalancer.go
  vkcs/provider/provider.go
  vkcs/provider/schema_base.go
  vkcs/provider/wrapper_provider.go
  vkcs/publicdns/data_source_vkcs_publicdns_zone.go
  vkcs/publicdns/resource_vkcs_publicdns_record.go
  vkcs/publicdns/resource_vkcs_publicdns_zone.go
  vkcs/sharedfilesystem/resource_vkcs_sharedfilesystem_share.go
Labels: documentation

#170 Add file lock on image file in Image resource
  CHANGELOG.md
  go.mod
  go.sum
  vkcs/images/images_image.go
  vkcs/images/images_image_test.go
Labels: service/images, bugfix

#174 Remove tags # check in tests for extnet datasource
  vkcs/networking/data_source_vkcs_networking_network_test.go
Labels: service/networking, testing

#131 Add validation for vkcs_compute_instance.block_device.boot_index
  CHANGELOG.md
  examples/vkcs_compute_instance/main.tf
  go.mod
  vkcs/compute/resource_vkcs_compute_instance.go
  vkcs/compute/resource_vkcs_compute_instance_test.go
Labels: enhancement, service/compute

#181 Update regions tests
  vkcs/regions/data_source_vkcs_region_test.go
  vkcs/regions/data_source_vkcs_regions_test.go
Labels: testing, service/regions

#182 Fix duplicate entry error on recreating k8s cluster
  CHANGELOG.md
  vkcs/kubernetes/kubernetes_shared.go
  vkcs/kubernetes/resource_vkcs_kubernetes_cluster.go
Labels: bugfix, service/kubernetes

#183 Fix typo in regions subcategory name
  templates/categories.yaml
Labels: documentation
