Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2023-09, with the labels that each got.

#281 Fix addon state refresh panic on error
  CHANGELOG.md
  vkcs/kubernetes/addon.go
Labels: bugfix, service/kubernetes

#283 Remove unusable labels docker_registry_enabled, ingress_controller, p…
  vkcs/kubernetes/resource_cluster.go
Labels: service/kubernetes

#287 Fix error of unexpected Kubernetes cluster status after creating/deleting an addon
  CHANGELOG.md
  vkcs/kubernetes/resource_addon.go
Labels: bugfix, service/kubernetes

#286 Fix cluster status change panic
  CHANGELOG.md
  vkcs/kubernetes/resource_cluster.go
Labels: bugfix, service/kubernetes

#291 Release v0.5.0
  .release/provider-schema.json
  CHANGELOG.md
  docs/data-sources/dc_api_options.md
  docs/resources/dc_bgp_instance.md
  docs/resources/dc_bgp_neighbor.md
  docs/resources/dc_bgp_static_announce.md
  docs/resources/dc_interface.md
  docs/resources/dc_router.md
  docs/resources/dc_static_route.md
  docs/resources/dc_vrrp.md
  docs/resources/dc_vrrp_address.md
  docs/resources/dc_vrrp_interface.md
  vkcs/internal/providerwrapper/schema_base.go
Labels: release
