Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2024-03, with the labels that each got.

#415 Fix networking:router datasource example filename
  examples/networking/router/main-datasource.tf
Labels: documentation, bugfix

#419 remove getLBsecGrp
  CHANGELOG.md
  vkcs/lb/data_source_loadbalancer.go
  vkcs/lb/resource_loadbalancer.go
  vkcs/lb/shared.go
Labels: bugfix, service/lb

#422 Fix adressing floatingIPExtended data structure in fip associate reso…
  .gitignore
  CHANGELOG.md
  vkcs/networking/resource_floatingip_associate.go
Labels: bugfix, service/networking

#423 release 0.7.1
  .release/provider-schema.json
  CHANGELOG.md
  vkcs/internal/providerwrapper/schema_base.go
Labels: release
