Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2025-04, with the labels that each got.

#563 Fix acceptance tests
  CHANGELOG.md
  vkcs/backup/resource_plan_test.go
  vkcs/compute/data_source_instance_test.go
  vkcs/compute/resource_floatingip_associate_test.go
  vkcs/compute/resource_instance_test.go
  vkcs/compute/resource_interface_attach_test.go
  vkcs/compute/resource_servergroup_test.go
  vkcs/compute/resource_volume_attach_test.go
  vkcs/firewall/resource_secgroup_rule_test.go
  vkcs/firewall/resource_secgroup_test.go
  vkcs/internal/acctest/acctest.go
Labels: tests

#566 remove static_response_headers option of cdn resource
  CHANGELOG.md
  docs/resources/cdn_resource.md
  vkcs/cdn/resource_resource.go
  vkcs/cdn/resource_resource/converters.go
  vkcs/cdn/resource_resource/resource_resource_gen.go
  vkcs/cdn/resource_resource_test.go
  vkcs/cdn/spec.json
  vkcs/internal/services/cdn/v1/resources/types.go
Labels: service/cdn

#565 Add ability go get admin password of compute instance with windows
  CHANGELOG.md
  docs/resources/compute_instance.md
  examples/compute/instance/windows_password/base-firewall.tf
  examples/compute/instance/windows_password/base-image.tf
  examples/compute/instance/windows_password/base-networking.tf
  examples/compute/instance/windows_password/main.tf
  templates/compute/resources/vkcs_compute_instance.md.tmpl
  vkcs/compute/resource_instance.go
  vkcs/compute/resource_instance_test.go
  vkcs/internal/services/compute/v2/servers/requests.go
Labels: enhancement, service/compute

#567 Add gzip_compression option to cdn resource
  CHANGELOG.md
  docs/resources/cdn_resource.md
  go.mod
  go.sum
  vkcs/cdn/resource_resource.go
  vkcs/cdn/resource_resource/converters.go
  vkcs/cdn/resource_resource/resource_resource_gen.go
  vkcs/cdn/resource_resource_test.go
  vkcs/cdn/spec.json
  vkcs/internal/services/cdn/v1/resources/types.go
Labels: service/cdn

#568 Fix networking acceptance tests
  docs/resources/networking_port.md
  vkcs/internal/services/networking/neutron_errors.go
  vkcs/networking/data_source_port_test.go
  vkcs/networking/import_port_test.go
  vkcs/networking/resource_floatingip.go
  vkcs/networking/resource_floatingip_associate_test.go
  vkcs/networking/resource_floatingip_test.go
  vkcs/networking/resource_port.go
  vkcs/networking/resource_port_test.go
  vkcs/networking/resource_subnet_test.go
Labels: tests

#572 Add ability to use uppercase in datastore type
  CHANGELOG.md
  vkcs/db/instance.go
  vkcs/db/resource_cluster.go
  vkcs/db/resource_cluster_with_shards.go
  vkcs/db/resource_instance.go
  vkcs/internal/util/util.go
Labels: service/db

#573 Disable forced re-creation to update the cloud_monitoring_enabled
  CHANGELOG.md
  docs/resources/db_cluster.md
  docs/resources/db_cluster_with_shards.md
  docs/resources/db_instance.md
  vkcs/db/resource_cluster.go
  vkcs/db/resource_cluster_with_shards.go
  vkcs/db/resource_instance.go
  vkcs/db/shared.go
Labels: enhancement, service/db

#574 Fix deleting vkcs_compute_volume_attach when volume is deleted
  CHANGELOG.md
  vkcs/blockstorage/resource_volume.go
  vkcs/blockstorage/volume.go
  vkcs/compute/resource_volume_attach.go
Labels: bugfix, service/compute

#571 Add ability to set admin password for vkcs_compute_instance when creating
  CHANGELOG.md
  docs/resources/compute_instance.md
  vkcs/compute/resource_instance.go
  vkcs/compute/resource_instance_test.go
Labels: service/compute
