Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2025-03, with the labels that each got.

#552 add gzip option to cdn resource example
  examples/cdn/resource/main.tf
Labels: service/cdn

#560 Release v0.9.3
  .release/provider-schema.json
  vkcs/internal/providerwrapper/schema_base.go
Labels: release

#562 Add static_response_headers option to cdn resource
  CHANGELOG.md
  GNUmakefile
  docs/resources/cdn_resource.md
  generate.go
  vkcs/cdn/resource_resource.go
  vkcs/cdn/resource_resource/converters.go
  vkcs/cdn/resource_resource/resource_resource_gen.go
  vkcs/cdn/resource_resource_test.go
  vkcs/cdn/spec.json
  vkcs/internal/acctest/checks.go
  vkcs/internal/services/cdn/v1/resources/types.go
Labels: enhancement, service/cdn
