Repository vk-cs/terraform-provider-vkcs, pull requests merged in 2025-01, with the labels that each got.

#537 Update LE cert issuance process in vkcs_cdn_resource
  CHANGELOG.md
  vkcs/cdn/resource_resource.go
  vkcs/cdn/resource_resource/converters.go
  vkcs/internal/services/cdn/v1/resources/requests.go
  vkcs/internal/services/cdn/v1/resources/results.go
  vkcs/internal/services/cdn/v1/resources/urls.go
Labels: enhancement, service/cdn

#541 Reduce the minimum number of dhcp ports for a subnet from two to one
  CHANGELOG.md
  vkcs/networking/subnet.go
Labels: service/networking

#542 Remove retries for bad request error when attaching a volume to an instance
  CHANGELOG.md
  vkcs/compute/resource_volume_attach.go
Labels: service/compute

#543 release v0.9.2
  .release/provider-schema.json
  CHANGELOG.md
  vkcs/internal/providerwrapper/schema_base.go
Labels: release
